player-connection-mode=Connect
player-connection-guid=1107760221
player-connection-debug=0
player-connection-project-name=SponderBird
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.70
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e0a5a988c1c64f72a101dcb07f545421
